.search-bar {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
  }
  
  .search-bar form {
    display: flex;   /*sets the flexible length on flexible items */
    flex-direction: column;
  }
  